/*
	style.css
	This stylesheet contains styles and CSS classes required by the only web page - index.html.
*/

/*
	CSS for importing external stylesheets.
*/
@import url("https://fonts.googleapis.com/css2?family=Homemade+Apple&family=Source+Sans+Pro&display=swap");

* {
	box-sizing: border-box;
}

p {
	line-height: 1.47em;
	margin: 1em 0px;
}

a:link,
a:visited {
	color: #0994c3;
	border-bottom: 1px solid transparent;
	text-decoration: none;
	-webkit-transition: border 0.5s ease-out;
	-moz-transition: border 0.5s ease-out;
	-o-transition: border 0.5s ease-out;
	transition: border 0.5s ease-out;
}

a:hover {
	color: #000000;
	border-color: #000000;
	-webkit-transition: border 0s ease-out;
	-moz-transition: border 0s ease-out;
	-o-transition: border 0s ease-out;
	transition: border 0s ease-out;
}

a:focus {
	outline: thin dotted;
}

a:hover,
a:active {
	outline: none;
}

.container {
	padding: 1em;
}

.row::after {
	content: "";
	clear: both;
	display: table;
}

[class*="column-"] {
	width: 100%;
}

.sidebar .element {
	margin: 0px 0px 50px 0px;
}

.font-weight__bold {
	font-weight: bold;
}

hr.divider {
	border: 0.5px solid #cccccc;
	margin-top: 2rem;
	margin-bottom: 2rem;
}

.logo__inline_amazon {
	display: inline-block;
	width: 70px;
	height: auto;
	position: relative;
	top: 12px;
	margin: 2px;
}

/*
	CSS for large devices (desktops, 992px and up)
*/

@media only screen and (min-width: 992px) {
	.container {
		padding: 1em 3em;
	}

	[class*="column-"] {
		float: left;
	}

	.column-5 {
		width: 41.66%;
	}

	.column-7 {
		width: 58.33%;
	}

	.mr-lg-6 {
		margin-right: 6rem;
	}

	hr.divider {
		display: none;
	}
}

/*
	CSS for custom fonts.
*/

.font-family__homemade-apple {
	font-family: "Homemade Apple", cursive;
}

.font-family__source-sans-pro {
	font-family: "Source Sans Pro", sans-serif;
}

/*
	CSS for customising the scrollbar.
	(https://developer.mozilla.org/en-US/docs/Web/CSS/::-webkit-scrollbar)
*/

::-webkit-scrollbar {
	width: 4px;
}

::-webkit-scrollbar-track {
	border-radius: 0px;
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
	border-radius: 0px;
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
	box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
